<h1>SedentaryActivities</h1>
<ul><% @sedentaryactivities.map do |activity| %>

<li>
<b><%= link_to activity.name, sedentary_activity_path(activity) %></b><br>
<%= activity.duration %> mins<br>
<%= pluralize(activity.calories, 'calorie')%>
</li>
<br>
<% end %>
</ul>
