<h1>Sedentary Activity</h1>

<h4><%= @sedentaryactivity.name %></h4>

<%= @sedentaryactivity.duration %>mins<br>
<%= pluralize(@sedentaryactivity.calories, 'calorie')%><br>

<%= button_to "Edit Activity", edit_sedentary_activity_path, :method => :get %>


