<h2>Add Sedentary Activity</h2>

<%= form_for @day, url: create_sedentary_activity_path(@day), method: :post do |f| %>
       
        <%= f.select :sedentary_activity_ids, options_for_select(SedentaryActivity.all.collect { |s| [ s.name, s.id ] }), {}, {:multiple => true, :class => "", :style => "width:450px; height:125px" } %><br><br>

        <%= f.submit%>

    <% end %>
   