<h2>See History</h2>

<% @days.each do |day| %>
<h4><%= link_to day.diary_date.strftime("%A, %d %B %Y"), day_path(day) %></h4>
<% end %>

<%= button_to "Start My Day", new_day_path, :method => :get %>

