<% if current_user.day_started? %>
<h4>Exercise <span class="calorie-info"> // <%= current_user.calories_burned_through_exercises%> kcal</span> </h4>

<% if !current_user.get_current_date.exercises.empty? %>
<ul>
    <% current_user.get_current_date.exercises.each do |exercise| %>
    <li> <%= exercise.name %></li>
    <% end %>
</ul>
<% else %>
    <p>Nice work, you've saved those precious calories!</p>
<% end %>
<% end %>