
<% if current_user.day_started? %>
  <h4>Sedentary Activity<span class="calorie-info"> // <%= current_user.calories_burned_through_sedentary%> kcal</span></h4>
  
  <% if !current_user.get_current_date.sedentary_activities.empty? %>
      <ul>
        <% current_user.get_current_date.sedentary_activities.each do |activity| %>
          <li> <%= activity.name %></li>
          <% end %>
      </ul>
  <% else %>
    <p>Too BAD! You didn't SLOUCH today!</p>
  <% end %>
<% end %>
