<h1>Exercise</h1>

<h4><%= @exercise.name %></h4>

<%= @exercise.duration %>mins<br>
<%= pluralize(@exercise.calories, 'calorie')%><br>

<%= button_to "Edit Exercise", edit_exercise_path, :method => :get %>


